* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: cornflowerblue;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;
}
.time {
    display: flex;
    background-color: green;
    height: 50%;
    /* width: 100%; */
    justify-content: space-around;
    /* align-self: center; */
    align-items: flex-end;
    width: 70%;
}
.menu {
    display: flex;
    height: 50%;
    background-color: brown;
    /* padding: 5em; */
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
}
.block {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
}

.timer {
    flex: 75%;
}
.title {
    flex: 15%;
    font-size: large;
}

.menu > button {
    border: none;
    background-color: aliceblue;
    padding: 5em;
    border-radius: 50%;
    height: 20%;
    width: 20%;
    text-align: center;
    /* text-decoration: none; */
    
    /* center text: */
    display: flex;
    justify-content: center;
    align-items: center;
}