* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: cornflowerblue;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;
}
.time {
    display: flex;
    /* background-color: green; */
    height: 50%;
    /* width: 100%; */
    justify-content: space-around;
    /* align-self: center; */
    align-items: flex-end;
    width: 70%;
}
.menu {
    display: flex;
    height: 50%;
    /* background-color: brown; */
    /* padding: 5em; */
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
}
.block {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
}

.timer {
    flex: 75%;
}
.title {
    flex: 15%;
    font-size: large;
}

.menu > button {
    border: none;
    background-color: aliceblue;
    padding: 2em;
    border-radius: .5em;
    height: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 25%;
    text-align: center;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    box-shadow: 3px 3px 6px 1px grey;
    cursor: pointer;
    /* text-decoration: none; */
    
    /* center text: */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > button:hover {
    background-color: rgb(47, 241, 80);
}

.input-time {
    text-align: right;
    font-family:'Roboto',sans-serif;
    font-size: 2em;
    font-weight: 400;
    width: 75%;
    border: none;
    background-color: cornflowerblue;

    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: black;
}